body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

div.editor-area {
    width:80%;
    background-color: #fff;
    margin: 50px auto; 
    padding: 20px;
    min-height: 800px;
    box-shadow: 0px 0px 3px 3px #bfbfbf;
}

div.editor-area p {
    color : #363636;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 20px;
    min-height: 20px;
    padding: 5px;
    margin: 0;
}

div.editor-area p:focus {
    border : 0px solid #fff;
    outline: 0px;
}

div.tool-tip {
    display: none;
    position: fixed;
    width: auto;
    height: auto;
    float: right;
    left:20%;
    top:75px;
    background: #1c1c1c;
    border-radius:5px;
    opacity: 0.25;
    box-shadow: 0px 1px 2px #fff;
}

div.tool-tip:hover {
    opacity: 0.9;
}

div.tool-tip a{
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    margin: 3px 3px 3px 3px;
    text-shadow: 1px 1px 1px grey;
}

div.tool-tip a.bold {
    font-weight:normal;
    border-right:1px solid #fff;
}

div.tool-tip a.italic {
    font-style: italic;
}

div.tool-tip a.underline {
    text-decoration: underline;
    border-left: 1px solid #fff;
}
